*{
  box-sizing:border-box;
}
html,body {
  height: 100%;
}

div.timesetter{
  text-align:center;
  background-color:#BFD8D2;
  width:90%;
  margin:30px auto;
  padding:15px;
  max-height:400px;
  width:300px;
}
div.timesetter h2{
  margin:0;
  padding:10px 0 20px 0;
  font-family:'Josefin Sans';
}

h3.clockFont{
  font-family: 'Orbitron', sans-serif;
  font-size:3em;
  margin:0;
  padding:0 0 10px 0;
}

a.watchcontrols{
  width:40px;
  height:40px;
  display:inline-block;
  background-color:#da3d3d;
  color:white;
  line-height:40px;
  margin:10px 4px;
  text-align:center;
}
