<mat-toolbar color="primary">
    Hello World</mat-toolbar>
<mat-sidenav-container fullscreen>

    <mat-sidenav #start>
        <mat-nav-list>

            <a mat-list-item routerLink="/courses">
                <mat-icon>library_books</mat-icon>
                <span>Courses</span>
            </a>

            <a mat-list-item routerLink="/login">
                <mat-icon>account_circle</mat-icon>
                <span>Login</span>
            </a>

            <a mat-list-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </a>

        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar color="primary">
        <button class="menu-button" mat-icon-button (click)="start.open('mouse')">
            <mat-icon>menu</mat-icon>
          </button>
    </mat-toolbar>
    <div style="text-align:center">
        <h1>
            Welcome to {{ title }}!
        </h1>
    </div>

    <router-outlet></router-outlet>

</mat-sidenav-container>